.venv/
.vscode/
**/__pycache__/
temp_potholes/
stats_out.txt
*.csv
*.pt
*.zip
**/dataset/
**/runs/
**/temp/
/ml_models/**/data/
/RoadDamageDetection-main/resource/
/RoadDamageDetection-main/models/
/RoadDamageDetection-main/training/*.pt
/RoadDamageDetection-main/training/dataset/

Flipkart-master/
Flipkart-ai-model-integration-samarth/
